
body         { color: #000000; background-color: #EEF3FB; font-family:Comic Sans MS; font-size:x-small
}
/*
     FILE ARCHIVED ON 22:29:44 Jun 02, 2017 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 18:28:42 Apr 14, 2024.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 1.215
  exclusion.robots: 0.163
  exclusion.robots.policy: 0.138
  cdx.remote: 0.092
  esindex: 0.014
  LoadShardBlock: 163.237 (3)
  PetaboxLoader3.datanode: 65.649 (4)
  PetaboxLoader3.resolve: 117.46 (2)
  load_resource: 92.442
*/